.post-status-main{
    display: flex;
    justify-content: center;
    align-items: center;
    .post-status{
        width: 80%;
        height: 120%;
        background-color: whitesmoke;
        margin-top: 30px;
        border: 1px solid #d7d7d7;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        .Open-post-model{
            width: 80%;
            height: 50px;
            text-align: left;
            color: rgba(0,0,0,0.89);
            background-color: #dcdcdc;
            outline: none;
            border: 1px solid #b7b7b7;
            border-radius: 30px;
            cursor: pointer;
            padding: 15px;
            font-weight: 600;
            font-size: 14px;
            font-family: system-ui,sans-serif; 

            


        }
        .Open-post-model:hover{
            background-color: whitesmoke;

        }
    }
}




